AWS_REGION=us-east-1
MODULAR_SERVICE_MODE=docker
MODULAR_SERVICE_VAULT_ENDPOINT=http://127.0.0.1:8080
MODULAR_SERVICE_VAULT_TOKEN=token
MODULAR_SERVICE_MONGO_URI=mongodb://mongouser:mongopassword@127.0.0.1:27017
MODULAR_SERVICE_MONGO_DATABASE=modular-service

# <MODULAR SDK>
MODULAR_SDK_MONGO_URI=mongodb://mongouser:mongopassword@127.0.0.1:27017
MODULAR_SDK_SERVICE_MODE=docker
MODULAR_SDK_MONGO_DB_NAME=custodian_as_a_service
MODULAR_SDK_VAULT_URL=http://127.0.0.1:8200
MODULAR_SDK_VAULT_TOKEN=token
